.chatList {
    flex: 1;
    overflow: scroll;
    background-color: rgb(255, 255, 255, 0.87);
    margin-right: 2vw;
    margin-left: 0.5vw;
    /* overflow: hidden; */
    /* scrollbar-width: none; */
    /* overflow: overlay; */
    overflow-x: hidden;
    margin-bottom: 0.6vw;
    border-bottom-left-radius: 12px;
    /* width: 25vw; */

    .search {
        display: flex;
        align-items: center;
        gap: 1vw;
        padding: 1.2vw;
        /* padding-left: 1.85vw; */
        /* margin-left: 1.85vw; */
        border-bottom: 1px solid #FFC8A9;

        .searchBar {
            flex: 1;
            background-color: rgba(17, 25, 40, 0.3);
            display: flex;
            align-items: center;
            gap: 1.35vw;
            border-radius: 8px;
            padding: 2px;
            padding-left: 4px;
            width: 18vw;
        }
            
     }
     .items {
        display: flex;
        align-items: center;
        gap: 1vw;
        padding: 1vw;
        cursor: pointer;
        border-bottom: 1px solid rgba(136,136,136,0.4);

        .texts {
            display: flex;
            flex-direction: column;
            gap: 0.35vw;
        }
    }
    
}
.chatList .search .searchBar input {
    background-color: transparent;
    color: white;
    /* height: 2.5vw; */
    border: none;
    outline: none;
    flex: 1;
}

.chatList .search .searchBar img {
    width: 2.7vw;
    height: 2.7vw;
    cursor: pointer;
}

.chatList .search .add {
    width: 2.2vw;
    height: 2.2vw;
    cursor: pointer;
    /* background-color: rgba(37, 211, 102, 0.3); */
    padding: 0.3vw;
}

.chatList .search .add:hover {
    border: 2px solid rgba(37, 211, 102, 0.9);
    border-radius: 0.7vw;
}

.chatList::-webkit-scrollbar {
    width: 12px; /* Width of vertical scrollbar */
     /* Height of horizontal scrollbar */
}

.chatList::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track background */
    margin-block: 0;
}

.chatList::-webkit-scrollbar-thumb {
    background: rgba(136,136,136,0.3); /* Thumb background */
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    /* border-radius: 10px; Thumb border radius */
}

.chatList::-webkit-scrollbar-thumb:hover {
    background: #959595; /* Thumb background on hover */
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
}

.chatList .items img {
    width: 4.8vw;
    height: 5vw;
    border-radius: 50%;
    object-fit: cover;
}

.chatList .items .texts span {
    font-weight: 800;
}
  
.chatList .items .texts p {
    font-size: 0.9rem;
    font-weight: 300;
    /* margin-top: 0.35vw; */
}
/* .chatList {
    flex: 1;
    overflow: scroll;
    overflow: hidden;
    border-bottom-left-radius: 16px;
    background-color: red;
    margin-bottom: 0.6vh;
    margin-top: 0.1vh;
    margin-left: 0.5vw;
    margin-right: 2vw;
}

.chatList .search {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
  
.chatList .search .searchBar {
    flex: 1;
    background-color: rgba(17, 25, 40, 0.5);;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    border: 1px solid #FFC8A9;
    padding: 10px;
}

.chatList .search .searchBar img {
    cursor: pointer; to be able to click on icons */
/* }
  
.chatList .search .searchBar input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    flex: 1;
}
.chatList .search .searchBar img {
    width: 20px;
    height: 20px;
}
  
.chatList .search .add {
    width: 40px;
    height: 40px;
    background-color: rgba(17, 25, 40, 0.5);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #FFC8A9;
    cursor: pointer;
}
  
.chatList .item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
    border-bottom: 2px solid #FFC8A9;
}
.chatList .item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
  
.chatList .item .texts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.chatList .item .texts span {
    font-weight: 500;
}
  
.chatList .item .texts p {
    font-size: 14px;
    font-weight: 300;
} */