* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.5vw;
}

body {
  background-image: linear-gradient(to bottom, #FFC8A9,#A981BB);
  /* background-image: url("./Christian_community.png"); */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: black;
}

.container {
  width: 90vw;
  height: 90vh;
  background-color: rgba(167, 210, 255, 0.3);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 16px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  display: flex;
}

.loading{
  padding: 3.4vw;
  font-size: 2.2rem;
  border-radius: 0.6rem;
  background-color: rgba(17, 25, 40, 0.9);
}